name: Test

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install
      run: npm ci
    - name: Test 2.x
      run: |
        npm run switch 2
        npm test
    - name: Report coverage
      run: bash <(curl -s https://codecov.io/bash)
    - name: Build 2.x
      run: npm run build 2
    - name: Build 3.x
      run: npm run build 3
